:root {
  --vt-c-green: #0d631a;

  --vt-c-soft-black: rgb(27, 27, 27);

  /*Quartet Color Scheme from paletton.com*/
  --cs-prim-light2: #c8bba6;
  --cs-prim-light1: #b5a690;
  --cs-prim-main: #a3947c;
  --cs-prim-dark1: #928269;
  --cs-prim-dark2: #7e6f58;

  --cs-sec1-light2: #00e4be;
  --cs-sec1-light1: #10c6a7;
  --cs-sec1-main: #1ea38d;
  --cs-sec1-dark1: #2a8c7b;
  --cs-sec1-dark2: #367a6f;

  --cs-sec2-dark2: #847d78;
  --cs-sec2-dark1: #9f816c;
  --cs-sec2-main: #c0835a;
  --cs-sec2-light2: #e77628;
  --cs-sec2-light2: #ff6700;

  --cs-comp-light2: #434b54;
  --cs-comp-light1: #2b2e32;
  --cs-comp-main: #333639;
  --cs-comp-dark1: #23262a;
  --cs-comp-dark2: #1a1d20;
}

body {
  background: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
  }
}
/*
C8BBA6  B5A690  A3947C  928269  7E6F58
00E4BE  10C6A7  1EA38D  2A8C7B  367A6F
847D78  9F816C  C0835A  E77628  FF6700
434B54  2B2E32  333639  23262A  1A1D20
*/

/* color palette from <https://github.com/vuejs/theme> */
/*:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}*/

/* semantic color variables for this project */
/*:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/
